body {
font-family: "Trebuchet MS", sans-serif;
color: #FFFFFF;
background-color: #000000;
text-align: center;
}

h1, h2 {
font-family: "Trebuchet MS", sans-serif;
text-align: center;
}

img {
 align: middle;
}

address {
margin-top: 1em;
padding-top: 1em;
border-top: thin solid;
}

li {
  display: inline;
}

li a:link, a:visited {
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 14px 25px;
}


li a:hover:not(.active5) {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 14px 25px;
}

.active5 {
  color: #FFFFFF !important;
  background-color: #1bcc00 !important;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 14px 25px;
}
