body {
font-family: "Trebuchet MS", sans-serif;
color: #FFFFFF;
background-color: #000000;
}

h1 {
font-family: "Trebuchet MS", sans-serif;
text-align: center;
}

p {
margin: 0;
padding: 0;
text-align: center;
}

img {
border: 1px solid #000000;
padding: 0 15px;
float: left;
width: auto;
height: auto;
}

li {
  display: inline;
}

li a:link, a:visited {
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 14px 25px;
}


li a:hover:not(.active2) {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 14px 25px;
}

.active2 {
  color: #FFFFFF !important;
  background-color: #1bcc00 !important;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 14px 25px;
}
