body {
background-color: #000000;
color: #FFFFFF;
text-align: center;
font-family: "Trebuchet MS", sans-serif;
}

h1 {
font-family: "Trebuchet MS", sans-serif;
text-align: center;
}

address {
margin-top: 1em;
padding-top: 1em;
border-top: thin solid;
}

p {
  max-width: 80%;
}

li {
  display: inline;
}

li a:link, a:visited {
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 14px 25px;
}

.skullboi {
align: center;
width: 512px;
height: 381px;
}

#character {
align: center;
width: 25% auto;
height: 25% auto;
}


li a:hover:not(.active4) {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 14px 25px;
}

.active4 {
  color: #FFFFFF !important;
  background-color: #1bcc00 !important;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 14px 25px;
}
